<div class="main-container">

  <div class="container">
    <div class="infos">
      <div class="first">
        <h4><i class="fas fa-cocktail"></i>  Adresse  <i class="fas fa-cocktail"></i></h4>
        <p>16 villa Gaudelet 75011 Paris</p>
        <p>Métro Oberkampf</p>
      </div>
      <div class="second">
        <h4><i class="fas fa-cocktail"></i>  Horaires  <i class="fas fa-cocktail"></i></h4>
        <p>Tous les jours de 17h à 2h</p>
        <p>Happy hour de 18h à 20h</p>
      </div>
      <div class="third">
        <h4><i class="fas fa-cocktail"></i>  Événements  <i class="fas fa-cocktail"></i></h4>
        <p>Tous les vendredis de 20h à 22h</p>
        <p>Concert de musique live</p>
      </div>
    </div>

    <hr>
    <h2>Nos cocktails</h2>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail), data: { turbolinks: 'false' } do %>
          <div class="col-sm ml-1 mt-10">
            <div class="card" style="width: 14rem;" >
              <% if cocktail.photo.attached? %>
                <%= cl_image_tag cocktail.photo.key, alt: 'cocktail', width: 222, height:200 %>
              <% else %>
                <%= cl_image_tag "eepfjqdvo9epwzddhtog", alt: "coktail", width: 286, height:200, crop: :fit %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="back_index">
      <%= link_to "Retour à la liste", cocktails_path, class: "btn btn-secondary" if params[:query].present? %>
    </div>
  </div>

  <div class="display-map">
    <hr>
    <h2>Nous rejoindre</h2>
    <div id="map" style="height: 300px; width: 100%"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>



