
<div class="container">
  <h2>Cocktails List</h2>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-sm ml-5 mt-10">
        <div class="card" style="width: 18rem;">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, alt: 'cocktail', width: 300, height:200, crop: :fit %>
          <% else %>
         <%= image_tag "https://res.cloudinary.com/du5qhnalh/image/upload/v1597490638/eepfjqdvo9epwzddhtog.jpg", alt: "coktail", width: 286, height:200, crop: :fit %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
            <p class="card-text">Original and delitghful coktail !!</p>
            <%= link_to "Details", cocktail_path(cocktail.id), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="bouton">
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-dark" %>
</div>




