
<div class="container">
  <%= image_tag "unnamed.png", alt: "verre", class: "verre" %>
    <div class="form">
      <h2>Ajouter un nouveau cocktail</h2>

      <%= simple_form_for (@cocktail) do |f| %>
        <%= f.input :name, :label => "Nom" %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Soumettre ce cocktail", class: "btn btn-secondary" %>
      <% end %>
    </div>
  <div class="back">
    <%= link_to "Retour à la liste", cocktails_path, class: "btn btn-secondary" %>
  </div>
</div>
