<div class="container">
  <%= image_tag "unnamed.png", alt: "verre", class: "verre" %>
  <div class="form">
    <h2><%= @cocktail.name.capitalize %> : ajouter une dose</h2>
      <%= simple_form_for ([@cocktail, @dose]) do |f| %>
        <%= f.input :description, :label => "Quantité" %>
        <%= f.association :ingredient, :label => "Ingrédient" %>
        <%= f.submit "Ajouter", class: "btn btn-secondary" %>
      <% end %>
  </div>
  <div class="back">
  <%= link_to "Retour au cocktail", cocktail_path(@cocktail.id), class: "btn btn-secondary" %>
  </div>
</div>


